# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*

# Exclude folders
.bmx/
.vscode/
private/

# Exclude files
*.bak
*.debug
*.old
*.exe
*.a
*.i
*.i2

# Exclude project folders
include/

# Exclude project files
sftp*.txt
build
test
rsync*.txt


